<!-- Newsletter  -->
<h4 class="form-header">Subscribe to my Newsletter</h4>
<p class="form-text">Don't miss out on new articles from me. Get notified when a new article is published.</p>
<form class="form" action="https://tinyletter.com/peoray" method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/peoray', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <p><input type="text" class="sub-input" name="email" id="tlemail" onfocus="this.value=''" placeholder="Email address" /></p>
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Subscribe" class="sub-submit" />
</form>
<!-- end of newsletter -->